version: "3.8"

services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    volumes:
      - mongo_data:/data/db

  server:
    build: ./server
    container_name: server
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    depends_on:
      - mongo

  client:
    build: ./client
    container_name: client
    ports:
      - "3000:3000"
    env_file:
      - ./client/.env
    depends_on:
      - server

volumes:
  mongo_data:
